* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hero{
  height: 100vh;
  width: 100%;
  background-image: url('img/bg.png');
  background-size: cover;
  background-position: center;
}

nav{
 width: 100%;
 position:fixed;
 background-color: black;
 z-index: 9999;
}
nav ul li {
  list-style-type:none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
color: aliceblue;
font-weight: bold;
font-size: 28px;
text-decoration: none;
text-transform: capitalize;
}
nav ul li a:hover{
  color: #f95959;
  transform: .5s;
}
.logo{
  padding: 10px 20rem 0 0;
  color: aliceblue;
  font-size: 35px;
  letter-spacing: 1px;
}
span{
  color: #f95959;
}
.content{
  position: absolute;
  top: 50%;
  left: 10%;
}
.content h1{
  font-size: 55px;
  font-weight: bold;
  color: aliceblue;
}
.content h3 {
  font-size: 38px;
  font-weight: bold;
  color: #f95959;
}
.content h2{
  font-stretch: narrower;
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
}

#about {
  padding: 100px;
  height: 100vh;
  width: 100%;
  background-image: url('img/bg-about.jpg');
  background-size: cover;
  background-position: center;
}
.about-me {
  width: 650px;
  padding: 30px 0;

}
.about-me h4 {
  font-size: 35px;
  font-weight:bold;
  font-style: italic;
}
.about-me h2{
  padding: 0 0 20px 0;
  font-size: 46px;
  font-weight:bold;
  color: #f95959;
}
#work {
  padding: 100px;
  height: 100vh;
  width: 100%;
  background-image: url('img/bg.png');
  background-size: cover;
  background-position: center;
}
.my-work {
  width: 650px;
  padding: 30px 0 30px 0;
}
.my-work h4 {
  font-size: 28px;
  font-weight:bold;
  font-style: italic;
  color: aliceblue;
}
.my-work h2{
  padding: 0 0 20px 0;
  font-size: 46px;
  font-weight:bold;
  color: #f95959;
}
.btn{
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}
.my-work a:hover{
  color: #f95959;
  transform: .5s;
}
#contact {
  padding: 100px;
  height: 100vh;
  width: 100%;
  background-image: url('img/bg-contact.jpg');
  background-size: cover;
  background-position: center;
}
.div-in img {
  width: 30px;
  height: 30px;
}

.main-contact {
  position: relative;
}


 /* blablabla */
 .my-contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between ;
  align-items: flex-end;
  position: absolute;
  top: -135px;
  left: 0px;
 }

 .div-in{
  width: 25%;
  height: 40%;
  background-color:aliceblue;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 
 .main-contact h4 {
  font-size: 28px;
  font-weight:bold;
  font-style: italic;
  color: black;
}
.main-contact h2{
  padding: 0 0 20px 0;
  font-size: 46px;
  font-weight:bold;
  color: #f95959;
}